/**Page Structure**/

.front {
	text-align:center;
	margin-top:50px;
}

.front h3 {
	margin-top:-10px;
}

.front img {
	width:120px;
	margin-top:100px;
}

.location {

	font-family: 'Roboto', sans-serif;
	font-weight:bold;
	text-align:center;
	line-height:20px;
}

.location h3 {
	margin-top:-7px;
}

.location img {
	width:80px;
	height:auto;
}


.well {
	outline:none;
	border:none !important;
	box-shadow:none !important;
	background-color:#FFFFFF;
}

.btn {
	-moz-border-radius: 2px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:2px 10px;
}

input {

	border: 1px solid;
	background:#FFFFFF;
	-moz-border-radius: 2px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:5px 20px;

}

.people-data {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.bottomicons li {
	display:inline;
	list-style-type: none;

}

.bottomicons {
	text-align:center;
	margin-top:60px;
	padding-right:50px;
}

.bottomicons img {
	width:40px;
	height:auto;
}


.contact {
	text-align:center;
}

.about img {
	width:120px;
	height:auto;
	text-align:center;
}

.about li {
	list-style-type:none;
	text-align:center;
	padding-right:50px;
}

.about p {
	font-size:14px;
	font-family: 'Roboto', sans-serif;

}

.explain img {
	width:80px;

}

.explain li {

	list-style-type: none;
	text-align:center;
	font-size:14px;
	font-family: 'Roboto', sans-serif;
}
